@use 'sass:math';

// インナー幅
$innerWidth: 1240px;

// 余白
$padding-pc: 25px;
$padding-sp: 30px;

// フォント
$font-main: "Shippori Mincho", serif;
$font-sub: "Noto Sans JP", sans-serif;

//フォント太さ
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;

// 色指定
$black: #333;
$white: #fff;
$head-color: #11312B;
$gray: #B4B5AC;

// ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 1024,
  xl: 1440,
);

// メディアクエリ
$mediaquerys: (
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// メディアクエリを "@include mq(){}" で書くことができる
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}