@use 'global' as *;

.c-btn3 {
	display: inline-block;
	position: relative;
	min-width: myrem(134);
	color: $black;
	font-weight: $SemiBold;
	font-size: myrem(12);
	line-height: calc(17/ 12);
	padding: myrem(11) myrem(10);
	border: 1px solid $black;

	@include mq('md') {
		min-width: myrem(178);
		font-size: myrem(15);
		line-height: calc(21/ 15);
		padding: myrem(10) myrem(16);
	}
}

.c-btn3--ec {
	min-width: myrem(100);
	padding-top: myrem(4);
	padding-bottom: myrem(4);
	font-size: myrem(9);
	line-height: calc(13/ 9);
	letter-spacing: 0.05em;

	@include mq('md') {
		min-width: myrem(157);
		text-align: center;
		font-size: myrem(14);
		line-height: calc(20 / 14);
		padding-top: myrem(8);
		padding-bottom: myrem(8);
	}
}

.p-header--ec .c-btn3--ec {
	color: $white;
	border-color: $white;
}

.c-btn3::before {
	content: "";
	position: absolute;
	background: url("../images/icon-cart-black.svg") no-repeat center center / contain;
	width: myrem(14);
	height: myrem(14);
	top: 50%;
	transform: translateY(-50%);
	left: myrem(8);

	@include mq('md') {
		width: myrem(18);
		height: myrem(18);	
		left: myrem(16);
	}
}

.c-btn3--ec::before {
	display: none;
}