@use 'global' as *;

.p-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
	background-color: #F7F8F5;
}

.p-header.p-header--top {
	background-color: transparent;
}

.p-header--ec {
	background-color: #235542;
}

.p-header.p-header--ec-top {
	background-color: transparent;
}

.p-header.change-color {
	background-color: #F7F8F5;
}

.p-header.change-color .p-header__link {
	color: $black;
}

.p-header.change-color .p-header__link::before {
	background-color: $black;
}

.p-header__wrapper {
/* 	display: grid;
	grid-template-columns: repeat(4,auto);
 */	align-items: center;
	display: flex;
}

.p-header__logo {
	margin-top: myrem(6);
	max-width: myrem(101);

	@include mq('md') {
		max-width: myrem(200);
	}
}

.p-header__logo.is-active {
	.p-header__logo--change {
		display: block;
	}

	.p-header__logo--top {
		display: none;
	}
}

.p-header__logo--change {
	display: none;
}

.p-header__logo img {
	aspect-ratio: 101 / 24;
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.p-header__nav {
	display: none;
	@include mq('md') {
		display: block;
		margin-left: auto;
	}
}

.p-header__lists {
	/*
	display: grid;
	grid-template-columns: repeat(7,auto);
	gap: myrem(14);
	*/
	display: flex;
	gap: myrem(10);
}

.p-header__list a {
	opacity: 1;
}

.p-header--top .p-header__link {
	color: white;
}

.p-header__link {
	display: inline-block;
	font-weight: $Regular;
	font-size: myrem(14);
	line-height: calc(21 / 15);
	color: $black;
	padding: myrem(10) myrem(5);
	position: relative;
}

.p-header--top .p-header__link::before {
	background-color: $white;
}

.p-header__link::before {
	content: "";
	position: absolute;
	width: 0;
	height: myrem(1);
	background-color: $black;
	bottom: 0;
	left: 0;
	transition: .3s;
}

.p-header__link:hover::before {

	@include mq('md') {
		width: 100%;
	}
}

.p-header__btn {
	text-align: right;
	display: block;
	margin-left: auto;

	@include mq('md') {
		margin-left: myrem(32);
	}
}

.p-header__btn.is-active {
	display: none;
}

.p-header--top .c-btn3 {
	border-color: $white;
	color: $white;

	&::before {
		background: url("../images/icon-cart.svg") no-repeat center center / contain;
	}
}

.p-header__btn.is-active .c-btn3 {
	border-color: $black;
	color: $black;

	&::before {
		background: url("../images/icon-cart-black.svg") no-repeat center center / contain;
	}
}

.p-header__btn.change-color .c-btn3 {
	border-color: $black;
	color: $black;

	&::before {
		background: url("../images/icon-cart-black.svg") no-repeat center center / contain;
	}
}

.p-header__language-btn {
	margin-left: auto;
	display: none;

	@include mq('md') {
		display: block;
	}
}

.p-header__language-btn.is-active {
	display: block;
}

.p-header__language-btn.is-active .p-header__link {
	color: $black;
}
.p-header__language-btn.is-active .p-header__link span {
	color: #AAA;
}

.p-header__logo-box{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;

	@include mq('md') {
		flex-direction: row;
	}
}


.p-header--ec-top {
	transition: .3s;
}

.p-header.p-header--ec-top.change-color {
	background-color: #235542;
}

.p-header.p-header--ec-top.is-active {
	background-color: #235542;
}

.p-header--ec-top .p-header__logo {
	margin-top: myrem(6);
}

.p-header--ec-top .p-header__logo img {
	aspect-ratio: 101 / 22;
}

.p-header__icon-box {
	display: flex;
	gap: myrem(20);
	align-items: center;
	margin-left: auto;

	@include mq('md') {
		gap: myrem(32);
	}
}

.p-header__icon-box.is-active {

	@include mq('md') {
		margin-left: myrem(40);
	}
}

.p-header__icon--people img {
	width: myrem(24);
	height: myrem(24);

	@include mq('md') {
		width: myrem(30);
		height: myrem(30);
	}
}

.p-header__icon--cart img {
	width: myrem(20);
	height: myrem(20);

	@include mq('md') {
		width: myrem(22);
		height: myrem(22);
	}
}

.p-header__wrapper-ec-lists {
	display: none;
	align-items: center;
	
}

.p-header__wrapper-ec-lists.is-active {

	@include mq('md') {
		display: flex;
		margin-left: auto;
	}
}

.p-header__wrapper-ec-list {
	color: $white;
	font-weight: $Regular;
	font-size: myrem(15);
	line-height: 1;
	margin-left: myrem(14);
}

.p-header__wrapper-ec-list a {
	position: relative;
	padding: myrem(5) myrem(10);
	opacity: 1;
}

.p-header__wrapper-ec-list a::before {
	content: "";
	position: absolute;
	width: 0;
	height: myrem(1);
	background-color: $white;
	bottom: 0;
	left: 0;
	transition: .3s;
}

.p-header__wrapper-ec-list a:hover::before {

	@include mq('md') {
		width: 100%;
	}
}

